
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!vendor/
vendor/*
!vendor/easycorp/easyadmin-bundle/src/Resources/translations/
vendor/easycorp/easyadmin-bundle/src/Resources/translations/*
!vendor/easycorp/easyadmin-bundle/src/Resources/translations/EasyAdminBundle.it.php
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
