{% extends 'base.html.twig' %}
{% block body %}
    <h2>Commento revisionato, grazie!</h2>
    <p>Transazione applicata: <strong>{{ transition }}</strong></p>
    <p>Nuovo stato: <strong>{{ comment.state }}</strong></p>
{% endblock %}