<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Benvenuti!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><a href="{{ path('homepage') }}">I nostri cantieri e le vostre preziose valutazioni </a></h1>
                <ul>
                {% for cantieri in listcantieri %}
                    <li><a href="{{ path('cantieri', { nameJob: cantieri.nameJob }) }}">{{ cantieri }}</a></li>
                {% endfor %}
                </ul>
                <hr />
            </header>
            {% block body %}{% endblock %}
      
    </body>
</html>
