{# N O N     U S A T O  #}

{% extends '@!EasyAdmin/crud/index.html.twig' %}

 {% block page_content %}
   
    <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
  <script type="text/javascript">

      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

 function drawChart() {

     var array = document.getElementById('bar').value;
     var datavalue = JSON.parse(array); 

     var data = new google.visualization.DataTable();
      data.addColumn('string', 'Cantiere'  );
      data.addColumn('number', 'Ore budget'); 
      data.addColumn('number', 'Ore lavorate'); 
      data.addColumn('number', 'Prezzo medio'); 
      data.addColumn('number', 'Costo medio'); 
      for (i = 0; i < datavalue.length; i++) {
            var arrayData = [' ', datavalue[i].OreBud, datavalue[i].OreLav, datavalue[i].Prezzo, datavalue[i].Costo];
            data.addRows([arrayData]);
           };

        var options = {
          colors: ['blue','orange','green','red'],
          chart: {
            title: 'Media mensile per ore a budget/lavorate e Prezzo/Costo orario',
            subtitle: 'Ordine decrescente per maggiori ore budget',
          },
          bars: 'horizontal' // Required for Material Bar Charts.
          };

        var chart = new google.charts.Bar(document.getElementById('bar_div'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
      }

    </script>

    </head>
    
   
    
    <body id="modal-chart" class ="modal fade" aria-modal="true" role="dialog" style="padding-right: 17px; display: block;" >   
                <div class = "modal-dialog">
                <div class = "modal-content">
                <div class = "modal-haeder">
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary" id="modal-clear-button" formtarget="_self">
                    <i class="fa fa-close"></i> Cancella
                </button>
                    <h5 class="modal-title">{{ page_title }}</h5>
                    <div class="modal-body p-0" >
                                          
                    <input type="hidden" id="bar" value="{{ bar_chart|json_encode }}">
                    <div id="bar_div" style="width: 400px; height: 400px ;" > </div>

                    </div>
                </div> 
                </div> 
                </div> 
    <body>
  
   {% endblock %}
    
   

 





